<a href="https://colab.research.google.com/github/Naman203r/Titanic-EDA/blob/main/EDA_On_Titanic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/Naman203r/Titanic-EDA.git

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/Titanic-EDA/Titanic Dataset/train.csv")
df.head()

# EDA(Exploratory Data Analysis)

# Column Types

* **Categorical:**Survived,Pclass,Sex,SibSp,Parch,Cabin,  Embarked
* **Numerical:**PassengerId,Age,Fare
* **Mixed:**Name,Ticket

# Univariant Analysis On Numerical Column

# Age

#**Conclusions**
  * Age is normally(almost) distributed
  * 20% values are missing.
  *  There are some outliers.
  * Most of the passengers are between the ages of 20 and 30.

In [ ]:
df['Age'].describe()

In [ ]:
df['Age'].plot(kind='hist',color='purple')
plt.title("Distribution of Passenger Ages",fontsize=16,fontweight='bold')
plt.xlabel("Age",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
plt.grid(axis='y',linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['Age'].plot(kind='kde')
plt.title("Age Distribution (KDE Plot)",fontsize=16,fontweight='bold')
plt.xlabel("Age",fontsize=12)
plt.ylabel("Density",fontsize=12)
plt.grid(linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['Age'].skew()

In [ ]:
df['Age'].plot(kind='box',patch_artist=True)

In [ ]:
# Detect Outlier Using IQR.
Q1=df['Age'].quantile(0.25)
Q3=df['Age'].quantile(0.75)
IQR=Q3-Q1
upper_limit=Q3+1.5*IQR
lower_limit=Q1-1.5*IQR
print(upper_limit)
print(lower_limit)

In [ ]:
df[(df['Age']>upper_limit) | (df['Age']<lower_limit)]

In [ ]:
((df['Age'].isnull().sum())/(df.shape[0]))*100

# Fare
#**conclusion**
* Data is highley(Positively) skewed.
* Fare column contain Group Fare not a individual Fare(This might be and issue)
* we need to create new column called individual fare during feature engineering.

In [ ]:
df['Fare'].describe()

In [ ]:
df['Fare'].plot(kind='hist',color='red')
plt.title("Distribution of Passenger Fare",fontsize=16,fontweight='bold')
plt.xlabel("Fare",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
plt.grid(axis='y',linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['Fare'].plot(kind='kde')
plt.title("Fare Distribution (KDE Plot)",fontsize=16,fontweight='bold')
plt.xlabel("Fare",fontsize=12)
plt.ylabel("Density",fontsize=12)
plt.grid(linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['Fare'].skew()

In [ ]:
df['Fare'].plot(kind='box',patch_artist='True')

In [ ]:
percentile_25=df['Fare'].quantile(0.25)
percentile_75=df['Fare'].quantile(0.75)
IQR=percentile_75-percentile_25
upper_limit=percentile_75+1.5*IQR
lower_limit=percentile_25-1.5*IQR
print(upper_limit)
print(lower_limit)

In [ ]:
pd.set_option('display.max_rows',None)
df[(df['Fare']>upper_limit) | (df['Fare']<lower_limit)].head()

In [ ]:
((df['Fare'].isnull().sum())/(df['Fare'].shape[0]))*100

# Univariant analysis on Categorical Column

# Survived
#**Conclusions**
* most of the people died(above 60%) as campared to survived people.
* there is no null values in Survived Column.

In [ ]:
df['Survived'].value_counts()

In [ ]:
plt.figure(figsize=(9,5))
Survived_Passengers=df['Survived'].value_counts()
plt.bar(Survived_Passengers.index,Survived_Passengers.values,color=['purple','pink'],edgecolor='black',label=['Not Survived(0)','Survived(1)'])
plt.title('Passenger Count by Survival',fontsize=15,fontweight='bold')
plt.xlabel("Survived",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
for index,values in zip(Survived_Passengers.index,Survived_Passengers.values):
  plt.text(index,values+4,str(values))
plt.legend(loc=1,title='Survived')
plt.xticks([0,1], ['0','1'])
plt.annotate("Most Passengers were not survived",xy=(0.1,549),xytext=(0.5,400),arrowprops={'color':'black'},fontsize=11,fontweight='bold')
plt.show()

In [ ]:
df['Survived'].value_counts().plot(kind='pie',autopct='%1.2f%%',colors=['purple','pink'])
plt.title("Number of Passengers by Pclass (in %)",fontsize=15,fontweight='bold')
plt.legend(title='Survived',loc=1,labels=['Not Survived(0)','Survived(1)'])
plt.ylabel("")
plt.show()

In [ ]:
df['Survived'].isnull().sum()

#Pclass
#**Conclusion**
* maximum number of passengers(above 55%) were traveled in Pclass 3.but it is surprising that more passengers traveled in Pclass 1(24.24%) compared to Pclass 2(20.65%).

In [ ]:
# Passengers count by Pclass
df['Pclass'].value_counts()

In [ ]:
#plotting
plt.figure(figsize=(13,7))
Pclasswise_passengers=df['Pclass'].value_counts()
plt.bar(Pclasswise_passengers.index,Pclasswise_passengers.values,label=['P3','P1','P2'],color=['brown','purple','lightblue'])
plt.title('Passenger Count by Passenger Class (Pclass)',fontsize=15,fontweight='bold')
plt.xlabel("Pclass",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
for index,values in zip(Pclasswise_passengers.index,Pclasswise_passengers.values):
  plt.text(index,values+4,str(values))
plt.annotate("most Titanic passengers were in 3rd class (Pclass 3)",xy=(3,491),xytext=(1,400),arrowprops={'color':'black'},fontsize=11,fontweight='bold')
plt.xticks([1,2,3],['1','2','3'])
plt.legend(title="Pclass",loc=2)
plt.show()

In [ ]:
df['Pclass'].value_counts().plot(kind='pie',autopct='%1.2f%%',colors=['brown','purple','lightblue'],explode=[0.1,0,0])
plt.title("Number of Passengers by Pclass (in %)",fontsize=15,fontweight='bold')
plt.legend(title='Pclass',loc=1,labels=['P3 Class(3)','P1 Class(1)','P2 Class(2)'])
plt.ylabel("")
plt.show()

In [ ]:
df['Pclass'].isnull().sum()

# Sex
#**Conclusion**
- Most of the passengers were male (above 64%), compared to female passengers (~36%).
- The column does not contain any null values.

In [ ]:
df['Sex'].value_counts()

In [ ]:
plt.figure(figsize=(9.4,5))
GenderWise_Passengers=df['Sex'].value_counts()
plt.bar(GenderWise_Passengers.index,GenderWise_Passengers.values,color=['yellow','green'],edgecolor='black',label=['Male','Female'])

plt.title('Passenger Count by Gender',fontsize=15,fontweight='bold')
plt.xlabel("Gender",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)

for index,value in zip(GenderWise_Passengers.index,GenderWise_Passengers.values):
  plt.text(index,value+4,str(value))
plt.annotate("Most Male Passengers were travelled",xy=(0.1,580),xytext=(0.5,450),arrowprops={'color':'black'},fontsize=11,fontweight='bold')
plt.legend(loc=1,title='Gender')
plt.xticks([0,1],['Male','Female'])

plt.show()

In [ ]:
df['Sex'].value_counts().plot(kind='pie',autopct='%1.2f%%',colors=['yellow','green'])
plt.title("Number of Passengers by Gender (in %)",fontsize=15,fontweight='bold')
plt.ylabel("")
plt.show()

In [ ]:
df['Sex'].isnull().sum()

#Embarked
#**Conclusion**
- The maximum number of passengers(644) boarded from Southampton (S).
- The column contains only 0.22% missing values (very few, can be imputed).

In [ ]:
df['Embarked'].value_counts()

In [ ]:
plt.figure(figsize=(9.4,5))
Embarkedwise_Passengers=df['Embarked'].value_counts()
plt.bar(Embarkedwise_Passengers.index,Embarkedwise_Passengers.values,color=['red','blue','green'],label=['Southampton(S)','Cherbourg(C)','Queenstown(Q)'])
plt.title('Passenger Count by Embarked',fontsize=16,fontweight='bold')
plt.xlabel("Embarked",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
for index,value in zip(Embarkedwise_Passengers.index,Embarkedwise_Passengers.values):
  plt.text(index,value+4,str(value))
plt.annotate("Most Of the Passengers boarded from Southampton",xy=(0.1,644),xytext=(0.5,480),arrowprops={'color':'black'},fontsize=11,fontweight='bold')
plt.legend(loc=1,title='Port of Embarkation')
plt.show()

In [ ]:
df['Embarked'].value_counts().plot(kind='pie',autopct='%1.2f%%',colors=['red','blue','green'])
plt.title("Number of Passengers by Embarked (in %)",fontsize=16,fontweight='bold')
plt.legend(labels=['Southampton (S)', 'Cherbourg (C)', 'Queenstown (Q)'],title="Port of Embarkation")
plt.ylabel("")
plt.show()

In [ ]:
((df['Embarked'].isnull().sum())/(df.shape[0]))*100

# Bivariant Analysis

#Survive->Pclass
#**Conclusion**
* In case of Death,Pclass 1 were less risky as compared to Pclass 2 as well as Pclass 3.

In [ ]:
df.head()

In [ ]:
survival_pct_by_pclass=pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')*100
survival_pct_by_pclass

In [ ]:
plt.imshow(pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')*100,cmap='YlGnBu')
plt.colorbar()
plt.xticks([0,1,2],['P1','P2','P3'])
plt.yticks([0,1],['Not Survived','Survived'])
for i in [0,1]:
  for j in [0,1,2]:
    plt.text(j-0.3,i,f"{survival_pct_by_pclass.iloc[i,j]:.2f}%")
plt.show()

#Survived->Sex
#**Conclusion**
* In both 2nd and 3rd class, the death rate was higher among males than females.

In [ ]:
survival_pct_by_sex=pd.crosstab(df['Survived'],df['Sex'],normalize='columns')*100
survival_pct_by_sex

In [ ]:
plt.imshow(pd.crosstab(df['Survived'],df['Sex'],normalize='columns')*100,cmap='YlOrRd')
plt.colorbar()
plt.xticks([0,1],['Female','Male'])
plt.yticks([0,1],['Not Survived','Survived'])
for i in [0,1]:
  for j in [0,1]:
    plt.text(i-0.2,j,f"{survival_pct_by_sex.iloc[j,i]:.2f}%")
plt.show()

#Survival->Embarked
#**conclusion**
* Most of the passengers who boarded from Southampton (S) and Queenstown (Q)    did not survive, compared to those from Cherbourg (C), where survival rates were higher.

In [ ]:
pd.crosstab(df['Survived'],df['Embarked'],normalize='columns')*100

In [ ]:
ct=pd.crosstab(df['Survived'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,cmap='tab10')

for container in ax.containers:
    ax.bar_label(container,fmt='%.1f%%',label_type='center',color='black',fontsize=10)

#Embarked->Sex
#**Conclusion**
* Among passengers who boarded at Southampton (S), most of the males (over 68%) did not survive.
* Similarly, among those who boarded at Cherbourg (C), most of the males (over 56%) did not survive.
* In comparison, Queenstown (Q) had relatively fewer male passengers, but still, the survival chance for males remained very low.

In [ ]:
pd.crosstab(df['Sex'],df['Embarked'],normalize='columns')*100

In [ ]:
ct=pd.crosstab(df['Sex'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,colormap='Set2')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center')

#Pclass->Embarked
#**conclusion**
* In 1st Class (Pclass 1): Most of the male passengers(above 52%) from Cherbourg did not survive compared to other ports.
* In 2nd Class (Pclass 2): Most of the male passengers(above 26%) from Southampton did not survive compared to other ports.
* In 3rd Class (Pclass 3): A higher proportion(above 91%) of female passengers from Queenstown survived compared to other ports.

In [ ]:
pd.crosstab(df['Pclass'],df['Embarked'],normalize="columns")*100

In [ ]:
ct=pd.crosstab(df['Pclass'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,cmap='Set2')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center')

#Survived->Age
#**Conclusion**
* Most of the passengers aged around 0â€“5(children age) years had a higher survival rate as compared to other age.

In [ ]:
df[df['Survived'] == 1]['Age'].plot(kind='kde',label='Survived')
df[df['Survived'] == 0]['Age'].plot(kind='kde',label='Not Survived')

plt.legend()
plt.grid(True, linestyle="--", alpha=0.6)
plt.show()

# Feature Engineering

#Fare Column
#**Conclusion**
* I created a new column called Individual_Fare by dividing the total Fare by the total number of people (SibSp + Parch + 1).
This helps to find how much fare each person paid individually, which can be more accurate for analysis and modeling.

In [ ]:
df1=pd.read_csv("/content/Titanic-EDA/Titanic Dataset/test.csv")
df1

In [ ]:
df=pd.concat([df,df1])
df

In [ ]:
df.shape

In [ ]:
df[df['Ticket'] == 'CA 2144']

In [ ]:
df['individual_fare'] = df['Fare']/(df['SibSp'] + df['Parch'] + 1)
df.head(50)

#Univariant Analysis On Individual Fare.
#**Conclusion**
* Distribution of Individual Fare is highly right-skewed.
* Almost 75% passengers paid less than 50.
* There is 1 passenger with missing fare value (NaN) which needs to be handled during data cleaning.
* According to the IQR method, fares above 50 appear as outliers, but in the Titanic domain these are genuine fares of wealthy passengers.

In [ ]:
df[['individual_fare','Fare']].describe()

In [ ]:
df['individual_fare'].plot(kind="hist",color="grey")
plt.title("Distribution of Passenger Individual Fare",fontsize=16,fontweight='bold')
plt.xlabel("Individual Fare",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
plt.grid(axis='y',linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['individual_fare'].plot(kind="kde")
plt.title("Individual Fare Distribution (KDE Plot)",fontsize=16,fontweight='bold')
plt.xlabel("Individual Fare",fontsize=12)
plt.ylabel("Density",fontsize=12)
plt.grid(axis="x",linestyle='--',alpha=0.6)
plt.legend()
plt.show()

In [ ]:
df['individual_fare'].skew()

In [ ]:
df['individual_fare'].plot(kind='box')

In [ ]:
percentile_25=df['individual_fare'].quantile(0.25)
percentile_75=df['individual_fare'].quantile(0.75)
IQR=percentile_75-percentile_25
upper_limit=percentile_75+1.5*IQR
lower_limit=percentile_25-1.5*IQR
print(upper_limit)
print(lower_limit)

In [ ]:
df[(df['individual_fare']>upper_limit) | (df['individual_fare']<lower_limit)]

In [ ]:
df['individual_fare'].isnull().sum()

# Feature engineering.

# Sibsp and Parch
#**Conclusion**
* I made an extra column called Family Size with the help of the SibSp and Parch columns.
  I did this to identify which passengers were travelling alone or maybe with their family.
 This information helps us develop the model.

In [ ]:
df['family_size'] = df['SibSp'] + df['Parch'] + 1

In [ ]:
# family_type
def transform_family_size(num):
  if num == 1:
    return 'alone'
  elif num>1 and num <5:
    return "small"
  else:
    return "large"
df['family_type'] = df['family_size'].apply(transform_family_size)

In [ ]:
df

#Bivariant Analysis on survived vs family_type.
#**Conclusion**
* Most passengers from large families (>83%) did not survive, suggesting family size impacted survival chances.

In [ ]:
ct=pd.crosstab(df['Survived'],df['family_type'],normalize="columns")*100

In [ ]:
#plotting
ax=ct.plot(kind='bar',stacked=True,cmap='cividis')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center',color='white',fontweight='bold')

# Feature Engineering.

#Cabin.
#**Conclusion**
* First, I replaced the null values in the Cabin column with "Unknown". then, I created a new column called FloorType from Cabin to identify which passengers were traveling on which floor. This information helps in developing the model.

In [ ]:
((df['Cabin'].isnull().sum())/(df.shape[0]))*100

In [ ]:
df['Cabin']=df['Cabin'].fillna('Unknown')

In [ ]:
df['Floor type'] = df['Cabin'].str.get(0)
df

# Bivariant Analysis on Survived vs floor type.
#**Conclusion**
* Passengers on known floors(A,B,C,D,E,F,G,T) had slightly higher survival rates.
* Most passengers (~70%) had "Unknown" floor type(U), so survival is less clear for them.
* FloorType can still be a useful feature for modeling.

In [ ]:
ct=pd.crosstab(df['Survived'],df['Floor type'],normalize='columns')*100
ct

In [ ]:
#plotting
plt.figure(figsize=(17,8))
ax=ct.plot(kind='bar',stacked=True,cmap='cividis')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center',color='white',fontweight='bold')

# Feature engineering.

# Age.
#**Conclusion**
* first, I replaced the null values in the Age column with the median of the column.
* Then, I created a new column called Age_type to categorize passengers as Child, Adult, Infant, or Senior. This helps analyze survival patterns across age groups and can be useful for model development.

In [ ]:
((df['Age'].isnull().sum())/(df.shape[0]))*100

In [ ]:
df['Age'].describe()

In [ ]:
df['Age']=df['Age'].fillna(df['Age'].median())

In [ ]:
df['Age'].describe()

In [ ]:
def transform_age(num):
  if num>=0 and num<=2:
    return "Infant"
  elif num>2 and num<=12:
    return "Child"
  elif num>12 and num<=59:
    return "Adult"
  else:
    return "Senior"
df['Age_type']=df['Age'].apply(transform_age)

#Bivariant Analysis on Survived vs Age_type.
#**Conclusion**
* Most Senior passengers (above 73%) did not survive compared to other age groups.
* This indicates that age has a significant impact on survival, with younger passengers having higher survival rates.

In [ ]:
survival_pct_by_agetype=pd.crosstab(df["Survived"],df["Age_type"],normalize='columns')*100
survival_pct_by_agetype

In [ ]:
plt.imshow(pd.crosstab(df["Survived"],df["Age_type"],normalize='columns')*100,cmap='YlOrRd')
plt.colorbar()
plt.xticks([0,1,2,3],['Adult',"child","Infant","Senior"])
plt.yticks([0,1],['Not Survived','Survived'])
for i in [0,1,2,3]:
  for j in [0,1]:
    plt.text(i-0.3,j,f"{survival_pct_by_agetype.iloc[j,i]:.2f}%")

plt.show()

# Multivariate Analysis
##correlation between variable.
#**conclusion**
* I created a correlation matrix to understand the relationship between numerical variables. This helped identify how strongly or weakly the variables are correlated.
* I also used a heatmap to visualize these relationships for better understanding.

In [ ]:
df.corr(numeric_only=True)

In [ ]:

corr=df.corr(numeric_only=True)
plt.imshow(corr)
plt.xticks(np.arange(len(corr)),corr, rotation=90)
plt.yticks(np.arange(len(corr)),corr)
for i in range(len(corr)):
  for j in range(len(corr)):
    plt.text(i-0.4,j,f"{corr.iloc[i, j]:.2f}")
plt.colorbar()
plt.show()